[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg

package-name = brasil.gov.vcge
package-extras = [test, archetypes, dexterity]
eggs += 
    iw.debug
# FIXME: Quando o ipython é instalado com buildout, o pexpect não é
# instalado como dependência. Ele deve ser baixado explicitamente, até que
# a issue:
# https://github.com/ipython/ipython/issues/8806
# seja resolvida.
    pexpect

parts +=
    i18ndude
    omelette

[instance]
zcml += iw.debug

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[code-analysis]
directory = ${buildout:directory}/src/brasil/gov/vcge
pre-commit-hook = True
flake8-ignore = E501
debug-statements = True
