[versions]
# XXX: Plone 4.2 compatibility
collective.js.jqueryui = 1.8.16.9

[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/travis-4.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg

package-name = brasil.gov.vcge
package-extras = [test, archetypes, dexterity]
package-min-coverage = 86
test-eggs = Pillow

parts +=
    createcoverage
    coverage-sh

[code-analysis]
directory = ${buildout:directory}/src/brasil/gov/vcge
pre-commit-hook = False
flake8-ignore = E501
debug-statements = True
